<h2>My Heroes</h2>

<div *ngIf="canEdit$ | async; else viewOnly">
  <label for="new-hero">Hero name:</label>
  <input id="new-hero" #heroName />
  <button type="button" class="add-button" (click)="add(heroName.value); heroName.value=''">
    Add hero
  </button>
</div>

<ng-template #viewOnly>
  <p>You don't have permission to add or delete heroes.</p>
</ng-template>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button *ngIf="canEdit$ | async" type="button" class="delete" title="delete hero" (click)="delete(hero)">x</button>
  </li>
</ul>




